@use 'styles/base.css';
@font-face {
  font-family: 'Readex Pro';
  src:
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-Bold.ttf') format('Bold'),
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-Medium.ttf') format('Medium'),
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-Regular.ttf') format('Regular'),
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-SemiBold.ttf') format('SemiBold');
}

@font-face {
  font-family: 'roboto';
  src:
    url('@/assets/styles/fonts/roboto/Roboto-Bold.ttf') format('Bold'),
    url('@/assets/styles/fonts/roboto/Roboto-Medium.ttf') format('Medium'),
    url('@/assets/styles/fonts/roboto/Roboto-Regular.ttf') format('Regular');
}

$x-small: 0.5rem;
$small: 0.75rem;
$medium: 1rem;
$middle: 1.12rem;
$large: 1.25rem;
$xl: 1.5rem;
$size-2xl: 1.75rem;
$size-3xl: 2rem;
$size-4xl: 2.5rem;
$size-5xl: 3rem;

$font-weight-light: 300 !important;
$font-weight-regular: 500 !important;
$font-weight-bold: 700 !important;

$primaryRadius: 15px;
$normalSize: 14px;
$primaryBorderColor: var(--stroke-soft-200, rgba(23, 23, 23, 0.10));
$shadow:
  0 -3px 5px rgba(0, 0, 0, 0.1),
  0 3px 5px rgba(0, 0, 0, 0.1);
$darkShadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1);

$sidebarWidth: 304px;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

body {
  font-family: 'Readex Pro', 'roboto', sans-serif !important;
  line-height: 1.6;
  background-color: rgb(var(--v-theme-white));
}

.v-data-table__thead {
  background-color: rgba(23, 23, 23, 0.10) !important;
  color: rgb(var(--v-theme-black)) !important;
  white-space: nowrap;
  font-weight: 400;
}


.text-style {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
}

.cards {
  display: flex;
  flex-wrap: nowrap; // no wrapping to keep separators aligned
  justify-content: center;
  gap: 50px;
}

.infoCard {
  flex: 1;
  height: 50px;
  padding: 10px;

  // Add a right border except for the last one
  &:not(:last-child) {
    border-right: 1px solid rgba(23, 23, 23, 0.10);
    margin-right: 20px;
    padding-right: 20px;
  }
}

.infoHr {
  border-top: 1px solid rgba(23, 23, 23, 0.10);
  text-decoration: dotted;
  margin: 20px 0;
}

.drawer-banner {
  background-color: #F7F7F7;
  margin: 15px 0px;

  p {
    font-weight: 600;
    padding: 10px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #a3a3a3;
  }
}

.action-btns {
  padding-top: 15px;
  border-top: 1px solid rgba(23, 23, 23, 0.10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 0;
  width: 95%;
  margin: 15px 15px;

  .action-Btn {
    flex: 1;
    margin: 0 5px;
  }
}


/* Hide default Element Plus icon */
.custom-toast .el-notification__icon {
  display: none !important;
}

/* Notification content layout */
.custom-toast-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px;
}

.custom-icon {
  font-size: 24px;
  line-height: 1;
  margin-top: 4px;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  color: #666;
}

/* Color bars for different types */
.success-toast {
  border-left: 4px solid #67c23a;
}
.warning-toast {
  border-left: 4px solid #e6a23c;
}

// show toast in the center of the screen and open it smoothly
.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 1000;
  width: 400px;
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0
, 0.1);
animation: fadeIn 0.3s ease-in-out;
}
// .centered-toast {
//   left: 50% !important;
//   transform: translateX(-50%) !important;
//   top: 20px !important;
//   right: auto !important;
//   margin: 0 auto;
// }

.status-circle {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.drawer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: $small $medium;
}

.drawer-key {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
  color: #5c5c5c;
}
.drawer-value {
  color: #171717;
  font-feature-settings:
    'ss11' on,
    'liga' off,
    'calt' off;
  /* Label/Small */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
}

.drawer-form {
  background: #fff;
  border-radius: 12px;
  max-width: 400px;
  margin: 0 auto;
}

.drawer-form-group {
  margin: 10px;
}

.drawer-label-group {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #222;
  font-size: 15px;
}

.v-timeline--vertical.v-timeline .v-timeline-item:first-child .v-timeline-divider,
.v-timeline--vertical.v-timeline .v-timeline-item:first-child .v-timeline-item__body,
.v-timeline--vertical.v-timeline .v-timeline-item:first-child .v-timeline-item__opposite {
  padding-block-start: 0px !important;
}
.v-timeline--vertical.v-timeline .v-timeline-item:last-child .v-timeline-divider,
.v-timeline--vertical.v-timeline .v-timeline-item:last-child .v-timeline-item__body,
.v-timeline--vertical.v-timeline .v-timeline-item:last-child .v-timeline-item__opposite {
  padding-block-end: 0px !important;
}

.drawer-title {
  font-size: 18px;
  font-style: bold;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.27px;
  margin: 0 15px;
}
.drawer-description {
  max-width: 400px;
  color: #5c5c5c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
  margin: 10px 15px;
}
.v-window {
  height: 50% !important;
  margin-bottom: 15px;
}
.status-stepper {
  margin: 10px 0;
}
.timeline-item-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;

  span {
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: #a3a3a3;
  }

  .status-desc {
    color: #5c5c5c;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
}
.v-tabs--density-default,.v-tab.v-tab.v-btn{
  max-height: 25px !important;
}

.required {
  color: #2563eb; /* blue-600 */
  margin-left: 2px;
}

.form-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
  background: #f9fafb;
  color: #888;
  outline: none;
  transition: border 0.2s;
}

.form-input:disabled {
  background: #f3f4f6;
  color: #bbb;
}


.no-focus-border:focus,
.no-focus-border:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

:deep(.no-focus-border.v-input--is-focused .v-field__outline) {
  color: #c0c0c0 !important;
}

:deep(.v-field--variant-outlined) {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

:deep(.v-field__outline) {
  display: none;
}

.url-prefix {
  color: #999;
  font-weight: 500;
}

.v-input__details,
.v-messages{
  padding-inline: 0 !important;
  display: none;
  min-height: 0 !important;
  max-height: 0 !important;
}

.flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}