@use 'styles/base.css';
@font-face {
  font-family: 'Readex Pro';
  src:
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-Bold.ttf') format('Bold'),
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-Medium.ttf') format('Medium'),
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-Regular.ttf') format('Regular'),
    url('@/assets/styles/fonts/readex_pro/static/ReadexPro-SemiBold.ttf') format('SemiBold');
}

@font-face {
  font-family: 'roboto';
  src:
    url('@/assets/styles/fonts/roboto/Roboto-Bold.ttf') format('Bold'),
    url('@/assets/styles/fonts/roboto/Roboto-Medium.ttf') format('Medium'),
    url('@/assets/styles/fonts/roboto/Roboto-Regular.ttf') format('Regular');
}

$x-small: 0.5rem;
$small: 0.75rem;
$medium: 1rem;
$middle: 1.12rem;
$large: 1.25rem;
$xl: 1.5rem;
$size-2xl: 1.75rem;
$size-3xl: 2rem;
$size-4xl: 2.5rem;
$size-5xl: 3rem;

$font-weight-light: 300 !important;
$font-weight-regular: 500 !important;
$font-weight-bold: 700 !important;

$primaryRadius: 15px;
$normalSize: 14px;
$primaryBorderColor: var(--stroke-soft-200, rgb(var(--v-theme-lightGray)));
$shadow:
  0 -3px 5px rgba(0, 0, 0, 0.1),
  0 3px 5px rgba(0, 0, 0, 0.1);
$darkShadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1);

$sidebarWidth: 304px;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

body {
  font-family: 'Readex Pro', 'roboto', sans-serif !important;
  line-height: 1.6;
  background-color: rgb(var(--v-theme-white));
}

// .v-table__wrapper {
//   border-radius: $primaryRadius;
//   z-index: 1;
// }

.v-data-table__thead {
  background-color: rgb(var(--v-theme-lightGray)) !important;
  color: rgb(var(--v-theme-black)) !important;
  // position: sticky;
  // top: 0px;
  // z-index: 2;
  white-space: nowrap;
  font-weight: 400;
}

// .v-slide-group__content {
//   gap: 20px;
// }

// .v-select .v-field .v-text-field__prefix,
// .v-select .v-field .v-text-field__suffix,
// .v-select .v-field .v-field__input,
// .v-select .v-field.v-field {
//   background-color: white !important;
//   border-bottom: 0.1px solid rgb(240, 232, 232);
//   border-top: 0.1px solid rgb(240, 232, 232);
// }

// .v-field {
//   font-size: 15px !important;
// }

// .v-select {
//   background-color: white !important;
//   height: 69px !important;
// }

// .v-field--center-affix .v-field__append-inner,
// .v-field--center-affix .v-field__clearable,
// .v-field--center-affix .v-field__prepend-inner {
//   background-color: white !important;
// }

// .v-data-table-footer__items-per-page {
//   display: none;
// }

// .v-data-table__tbody tr {
//   font-size: $normalSize;
// }

// .v-data-table-header__content {
//   font-size: 15;
//   font-weight: $font-weight-bold !important;
// }

// .v-table__wrapper {
//   overflow: hidden !important;
// }

// .v-table > .v-table__wrapper > table > thead > tr > th {
//   font-weight: $font-weight-bold;
// }

// .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
// .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th {
//   border-bottom: thin solid rgb(0 0 0);
// }

// .v-selection-control--density-default,
// .v-checkbox .v-selection-control {
//   min-height: $large;
//   --v-selection-control-size: $xl;
// }

// .v-btn--size-default {
//   padding: 0 16px;
// }

// .v-slide-group__container .v-btn--size-default {
//   padding: 0px;
// }

// .flex-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   max-height: 49px !important;
// }

// .flex-container > .v-icon {
//   width: 40% !important;
// }

// .flex-container > .dropdown-container {
//   width: 60% !important;
// }

// .icon-style {
//   padding-right: 15%;
// }

// .v-table--density-default {
//   --v-table-row-height: 45px;
//   --v-table-header-height: 37px;
// }

// .v-container {
//   padding: 0px !important;
// }

// .v-input--density-default .v-field__input,
// .v-text-field input {
//   opacity: 1 !important;
//   background-color: rgb(var(--v-theme-white));
//   border: 1px solid rgb(var(--v-theme-panelSecondary));
// }

// .v-input__details {
//   display: none !important;
// }

// .filter-section {
//   display: flex;
//   gap: 12px;
//   align-items: center;
//   flex-wrap: wrap;
//   position: sticky;
//   top: 0;
//   box-shadow: $shadow;
//   background-color: rgb(var(--v-theme-white));
//   z-index: 2;
//   padding: 5px 10px;

//   .mb-4 {
//     margin-bottom: $medium !important;
//     margin-top: $medium !important;
//   }

//   .flex-1 {
//     flex: 1;
//   }
// }
// .v-field__input {
//   width: 50% !important;
//   max-height: 53px;
// }

// .phone-dropdown-list {
//   border: none !important;
//   display: flex;
//   align-items: center;
// }

// .non-server-table-container {
//   background: rgb(var(--v-theme-white));
//   border-radius: $primaryRadius;
// }

// .non-server-table-tab {
//   padding: 15px 0px !important;
// }

//INFO: for callToAction and worklist details pages
// .dropdown-section {
//   display: flex;
//   flex-direction: column;
//   gap: $large !important;
//   font-size: $xl !important;

//   .dropdown-group {
//     display: flex;
//     gap: $x-small !important;
//     align-items: center;
//     white-space: nowrap;

//     h3 {
//       font-size: $medium !important;
//       font-weight: $font-weight-bold;
//       width: 33.333%;
//     }

//     p {
//       font-size: $medium !important;
//       font-weight: $font-weight-regular;
//       width: 33.333%;
//     }

//     .dropdown {
//       background-color: rgb(var(--v-theme-white));
//       width: 50%;
//       font-size: $small !important;
//       border-color: rgb(var(--v-theme-slate));
//     }
//   }
//   .action-buttons {
//     display: flex;
//     gap: $x-small !important;
//     justify-content: space-between;
//     justify-items: center;
//   }
// }

// .account-details-group {
//   display: flex;
// }

// .center-no-data-available {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 15px;
// }

// .users-table,
// .user-groups-table {
//   padding: 0px;
// }

//INFO to override vuetify default
// @media (min-width: 960px) {
//   .v-container {
//     max-width: 100% !important;
//   }
// }

.text-style {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
}

.cards {
  display: flex;
  flex-wrap: nowrap; // no wrapping to keep separators aligned
  justify-content: center;
  gap: 50px;
}

.infoCard {
  flex: 1;
  height: 50px;
  padding: 10px;

  // Add a right border except for the last one
  &:not(:last-child) {
    border-right: 1px solid rgb(var(--v-theme-lightGray));
    margin-right: 20px;
    padding-right: 20px;
  }
}

.infoHr {
  border-top: 1px solid var(--v-theme-lightGray);
  text-decoration: dotted;
  margin: 20px 0;
}

.drawer-banner {
  background-color: rgb(var(--v-theme-lightGray));

  p {
    font-weight: 600;
    padding: 10px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #a3a3a3;
  }
}

.action-btns {
  padding-top: 15px;
  border-top: 1px solid rgb(var(--v-theme-lightGray));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 0;
  width: 95%;
  margin-bottom: 20px;

  .action-Btn {
    flex: 1;
    margin: 0 5px;
  }
}


/* Hide default Element Plus icon */
.custom-toast .el-notification__icon {
  display: none !important;
}

/* Notification content layout */
.custom-toast-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px;
}

.custom-icon {
  font-size: 24px;
  line-height: 1;
  margin-top: 4px;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  color: #666;
}

/* Color bars for different types */
.success-toast {
  border-left: 4px solid #67c23a;
}
.warning-toast {
  border-left: 4px solid #e6a23c;
}

// show toast in the center of the screen and open it smoothly
.custom-toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 400px;
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0
, 0.1);
animation: fadeIn 0.3s ease-in-out;
}
.centered-toast {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 20px !important;
  right: auto !important;
  margin: 0 auto;
}

.status-circle {
  width: 5px;
  height: 5px;
  // margin-right: 5px;
  border-radius: 50%;
}

.drawer-info {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.drawer-key {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
  color: #5c5c5c;
}
.drawer-value {
  color: #171717;
  font-feature-settings:
    'ss11' on,
    'liga' off,
    'calt' off;
  /* Label/Small */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
}

.drawer-form {
  background: #fff;
  border-radius: 12px;
  max-width: 400px;
  margin: 0 auto;
}

.drawer-form-group {
  margin: 10px 0;
}

.drawer-label-group {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #222;
  font-size: 15px;
}